<h1> <%= @project.name %> </h1>

<p>Project Description: <br> <%= @project.description %> </p>


<br>

<a href="/project/<%= @project.id %>/edit">Edit This Project</a>

<br>

<a href="/project/<%=@project.id%>/volunteers">See All The Volunteers Currently Assigned To This Project</a>


<form action="/project/<%= @project.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Project</button>
</form>
